In [2]:
# To load a CSV file using pandas in Python
import pandas as pd
df = pd.read_csv("../Customer_telco_churn.csv")

In [3]:
# To display the shape of the DataFrame
df.shape

(7043, 21)

In [4]:
#Displaying random sample of 12 rows from the DataFrame
#sample method is used to return a random number of rows from the dataframe
df.sample(12)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
3487,9257-AZMTZ,Female,0,Yes,Yes,52,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.10,1078.75,No
5865,2621-UDNLU,Female,0,Yes,No,3,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.85,72,No
2617,4588-YBNIB,Female,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.60,19.6,Yes
3615,6900-PXRMS,Male,1,Yes,Yes,26,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,No,Electronic check,105.75,2710.25,Yes
1860,3279-DYZQM,Male,0,Yes,Yes,71,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.45,1378.45,No
2916,4139-JPIAM,Male,0,No,No,51,No,No phone service,DSL,Yes,...,No,Yes,No,Yes,Month-to-month,Yes,Credit card (automatic),44.45,2181.55,No
5459,2657-VPXTA,Female,0,Yes,Yes,10,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,88.85,929.45,No
3136,3884-HCSWG,Female,0,No,No,17,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.00,1144.5,Yes
6293,7977-HXJKU,Male,0,No,Yes,21,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.60,397,No
4746,0637-KVDLV,Male,0,No,No,2,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,76.50,162.45,Yes
4080,6199-IPCAO,Female,0,Yes,Yes,29,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,26.10,692.55,No
6987,5981-ZVXOT,Female,1,No,No,35,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,Yes,One year,Yes,Electronic check,108.35,3726.15,No

In [5]:
# To check how many datatypes are present in each column of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
#Drop unnecessary colums
#Dropping columns 'customerID' and 'Unnamed: 0' as they are not needed for analysis
df = df.drop(columns=['customerID'])

In [7]:
# To verify that the columns have been dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [8]:
#To check we have any missing values in the dataset
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
# Analyze categorical features by printing the count of unique values,
# which helps in selecting appropriate encoding techniques.

numerical_features_list = ['tenure', 'MonthlyCharges', 'TotalCharges']
for col in df.columns:
    if col not in numerical_features_list:
        print(col, ":", df[col].nunique())
        print("-" * 35)

gender : 2
-----------------------------------
SeniorCitizen : 2
-----------------------------------
Partner : 2
-----------------------------------
Dependents : 2
-----------------------------------
PhoneService : 2
-----------------------------------
MultipleLines : 3
-----------------------------------
InternetService : 3
-----------------------------------
OnlineSecurity : 3
-----------------------------------
OnlineBackup : 3
-----------------------------------
DeviceProtection : 3
-----------------------------------
TechSupport : 3
-----------------------------------
StreamingTV : 3
-----------------------------------
StreamingMovies : 3
-----------------------------------
Contract : 3
-----------------------------------
PaperlessBilling : 2
-----------------------------------
PaymentMethod : 4
-----------------------------------
Churn : 2
-----------------------------------

In [10]:
#we see that TotalCharges has some issues because it should be numerical but has some non-numeric values. 
# So we need to convert it to numeric.
# First, we can replace the spaces with NaN or 0.0

df[df['TotalCharges']==" "]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [11]:
# So we need to convert it to numeric.
df['TotalCharges']=df['TotalCharges'].replace(" ",0.0)

In [12]:
#we see that TotalCharges has some issues because it should be numerical but has some non-numeric values. 
# So we need to convert it to numeric.
df['TotalCharges']=df['TotalCharges'].astype(float)

In [13]:
#To verify the TotalCharges column datatype is converted to float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [14]:
# Identifying columns with categorical data type
object_columns = df.select_dtypes(include=['object']).columns
print(object_columns)

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

#  Select categorical (object) columns
object_columns = df.select_dtypes(include="object").columns

#  Apply One-Hot Encoding
# drop='first' removes one category per column (this is normal)
encoder = OneHotEncoder(sparse_output=False)

encoded_array = encoder.fit_transform(df[object_columns])

#  Convert encoded array to DataFrame (0 and 1)
encoded_df = pd.DataFrame(
    encoded_array.astype(int),
    columns=encoder.get_feature_names_out(object_columns),
    index=df.index
)

#  Combine encoded columns with numerical columns
df_final = pd.concat([df.drop(columns=object_columns), encoded_df], axis=1)

#  Display output
print(df_final.head())

#  Check data types (should be int for encoded columns)
print(df_final.dtypes)

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges  gender_Female  \
0              0       1           29.85         29.85              1
1              0      34           56.95       1889.50              0
2              0       2           53.85        108.15              0
3              0      45           42.30       1840.75              0
4              0       2           70.70        151.65              1

   gender_Male  Partner_No  Partner_Yes  Dependents_No  Dependents_Yes  ...  \
0            0           0            1              1               0  ...
1            1           1            0              1               0  ...
2            1           1            0              1               0  ...
3            1           1            0              1               0  ...
4            0           1            0              1               0  ...

   Contract_One year  Contract_Two year  PaperlessBilling_No  \
0                  0                  0                    0
1                  1                  0                    1
2                  0                  0                    0
3                  1                  0                    1
4                  0                  0                    0

   PaperlessBilling_Yes  PaymentMethod_Bank transfer (automatic)  \
0                     1                                        0
1                     0                                        0
2                     1                                        0
3                     0                                        1
4                     1                                        0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                      0                               1
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               1

   PaymentMethod_Mailed check  Churn_No  Churn_Yes
0                           0         1          0
1                           1         1          0
2                           1         0          1
3                           0         1          0
4                           0         0          1

[5 rows x 47 columns]
SeniorCitizen                                int64
tenure                                       int64
MonthlyCharges                             float64
TotalCharges                               float64
gender_Female                                int64
gender_Male                                  int64
Partner_No                                   int64
Partner_Yes                                  int64
Dependents_No                                int64
Dependents_Yes                               int64
PhoneService_No                              int64
PhoneService_Yes                             int64
MultipleLines_No                             int64
MultipleLines_No phone service               int64
MultipleLines_Yes                            int64
InternetService_DSL                          int64
InternetService_Fiber optic                  int64
InternetService_No                           int64
OnlineSecurity_No                            int64
OnlineSecurity_No internet service           int64
OnlineSecurity_Yes                           int64
OnlineBackup_No                              int64
OnlineBackup_No internet service             int64
OnlineBackup_Yes                             int64
DeviceProtection_No                          int64
DeviceProtection_No internet service         int64
DeviceProtection_Yes                         int64
TechSupport_No                               int64
TechSupport_No internet service              int64
TechSupport_Yes                              int64
StreamingTV_No                               int64
StreamingTV_No internet service              int64
StreamingTV_Yes                              int64
StreamingMovies_No                           int64
StreamingMovies_No internet service          int64
StreamingMovies_Yes                          int64
Contract_Month-to-month                      int64
Contract_One year                            int64
Contract_Two year                            int64
PaperlessBilling_No                          int64
PaperlessBilling_Yes                         int64
PaymentMethod_Bank transfer (automatic)      int64
PaymentMethod_Credit card (automatic)        int64
PaymentMethod_Electronic check               int64
PaymentMethod_Mailed check                   int64
Churn_No                                     int64
Churn_Yes                                    int64
dtype: object

In [33]:
print(df_final.head())

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges  gender_Female  \
0              0       1           29.85         29.85              1
1              0      34           56.95       1889.50              0
2              0       2           53.85        108.15              0
3              0      45           42.30       1840.75              0
4              0       2           70.70        151.65              1

   gender_Male  Partner_No  Partner_Yes  Dependents_No  Dependents_Yes  ...  \
0            0           0            1              1               0  ...
1            1           1            0              1               0  ...
2            1           1            0              1               0  ...
3            1           1            0              1               0  ...
4            0           1            0              1               0  ...

   Contract_One year  Contract_Two year  PaperlessBilling_No  \
0                  0                  0                    0
1                  1                  0                    1
2                  0                  0                    0
3                  1                  0                    1
4                  0                  0                    0

   PaperlessBilling_Yes  PaymentMethod_Bank transfer (automatic)  \
0                     1                                        0
1                     0                                        0
2                     1                                        0
3                     0                                        1
4                     1                                        0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                      0                               1
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               1

   PaymentMethod_Mailed check  Churn_No  Churn_Yes
0                           0         1          0
1                           1         1          0
2                           1         0          1
3                           0         1          0
4                           0         0          1

[5 rows x 47 columns]