In [3]:
# To load a CSV file using pandas in Python
import pandas as pd
df = pd.read_csv("../Customer_telco_churn.csv")

In [4]:
#Displaying random sample of 10 rows from the DataFrame
#sample method is used to return a random number of rows from the dataframe
df.sample(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2759,1194-SPVSP,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),19.65,19.65,No
2515,8869-LIHMK,Female,0,No,No,64,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),115.10,7334.05,No
3000,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55,Yes
6092,4024-CSNBY,Female,0,Yes,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),94.25,6849.75,No
4509,2013-SGDXK,Female,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,No,Electronic check,84.30,84.3,Yes
6650,5850-BDWCY,Female,0,No,No,6,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.20,123.65,No
4970,9795-VOWON,Male,0,No,No,7,No,No phone service,DSL,No,...,No,No,No,No,One year,Yes,Credit card (automatic),24.35,150.85,No
6813,0617-AQNWT,Female,0,Yes,No,64,No,No phone service,DSL,Yes,...,Yes,Yes,No,Yes,Two year,No,Electronic check,47.85,3147.5,Yes
3435,4450-DLLMH,Male,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),71.30,157.75,No
4496,9489-JMTTN,Female,0,Yes,Yes,72,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),89.75,6595.9,No

In [5]:
# To check how many datatypes are present in each column of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
#Drop unnecessary columns
#Dropping columns 'customerID' and 'Unnamed: 0' as they are not needed for analysis
df = df.drop(columns=['customerID'])

In [7]:
# To verify that the columns have been dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [8]:
# Analyze categorical features by printing the count of unique values,
# which helps in selecting appropriate encoding techniques.

numerical_features_list = ['tenure', 'MonthlyCharges', 'TotalCharges']
for col in df.columns:
    if col not in numerical_features_list:
        print(col, ":", df[col].nunique())
        print("-" * 50)

gender : 2
--------------------------------------------------
SeniorCitizen : 2
--------------------------------------------------
Partner : 2
--------------------------------------------------
Dependents : 2
--------------------------------------------------
PhoneService : 2
--------------------------------------------------
MultipleLines : 3
--------------------------------------------------
InternetService : 3
--------------------------------------------------
OnlineSecurity : 3
--------------------------------------------------
OnlineBackup : 3
--------------------------------------------------
DeviceProtection : 3
--------------------------------------------------
TechSupport : 3
--------------------------------------------------
StreamingTV : 3
--------------------------------------------------
StreamingMovies : 3
--------------------------------------------------
Contract : 3
--------------------------------------------------
PaperlessBilling : 2
--------------------------------------------------
PaymentMethod : 4
--------------------------------------------------
Churn : 2
--------------------------------------------------

In [9]:
#we see that TotalCharges has some issues because it should be numerical but has some non-numeric values. 
# So we need to convert it to numeric.
# First, we can replace the spaces with NaN or 0.0

df[df['TotalCharges']==" "]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [10]:
# So we need to convert it to numeric.
df['TotalCharges']=df['TotalCharges'].replace(" ",0.0)

In [11]:
#we see that TotalCharges has some issues because it should be numerical but has some non-numeric values. 
# So we need to convert it to numeric.
df['TotalCharges']=df['TotalCharges'].astype(float)

In [12]:
#To verify the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [13]:
# Identifying columns with categorical data type
object_columns = df.select_dtypes(include=['object']).columns
print(object_columns)

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [14]:
#Applying label encoding to binary categorical features
#We converting all categorical features with two unique values to numerical format using label encoding.
#Because many machine learning algorithms require numerical input.

#We are not using one-hot encoding here because it can lead to the "curse of dimensionality(Means dimensionality of the dataframe goes up very high)"
# when applied to features with many unique values.Therefore,label encoding is more efficient for binary categorical features.
from sklearn.preprocessing import LabelEncoder


#Initialize a dictionary to save label encoders for each binary feature
encoders ={}

#Apply label encoding store the encoders
for column in object_columns:
    label_encoders = LabelEncoder()
    df[column] = label_encoders.fit_transform(df[column])
    encoders[column] = label_encoders

In [15]:
encoders

{'gender': LabelEncoder(),
 'Partner': LabelEncoder(),
 'Dependents': LabelEncoder(),
 'PhoneService': LabelEncoder(),
 'MultipleLines': LabelEncoder(),
 'InternetService': LabelEncoder(),
 'OnlineSecurity': LabelEncoder(),
 'OnlineBackup': LabelEncoder(),
 'DeviceProtection': LabelEncoder(),
 'TechSupport': LabelEncoder(),
 'StreamingTV': LabelEncoder(),
 'StreamingMovies': LabelEncoder(),
 'Contract': LabelEncoder(),
 'PaperlessBilling': LabelEncoder(),
 'PaymentMethod': LabelEncoder(),
 'Churn': LabelEncoder()}

In [16]:
# To check the dataframe after label encoding
df.head(20)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
5,0,0,0,0,8,1,2,1,0,0,2,0,2,2,0,1,2,99.65,820.50,1
6,1,0,0,1,22,1,2,1,0,2,0,0,2,0,0,1,1,89.10,1949.40,0
7,0,0,0,0,10,0,1,0,2,0,0,0,0,0,0,0,3,29.75,301.90,0
8,0,0,1,0,28,1,2,1,0,0,2,2,2,2,0,1,2,104.80,3046.05,1
9,1,0,0,1,62,1,0,0,2,2,0,0,0,0,1,0,0,56.15,3487.95,0
10,1,0,1,1,13,1,0,0,2,0,0,0,0,0,0,1,3,49.95,587.45,0
11,1,0,0,0,16,1,0,2,1,1,1,1,1,1,2,0,1,18.95,326.80,0
12,1,0,1,0,58,1,2,1,0,0,2,0,2,2,1,0,1,100.35,5681.10,0
13,1,0,0,0,49,1,2,1,0,2,2,0,2,2,0,1,0,103.70,5036.30,1
14,1,0,0,0,25,1,0,1,2,0,2,2,2,2,0,1,2,105.50,2686.05,0
15,0,0,1,1,69,1,2,1,2,2,2,2,2,2,2,0,1,113.25,7895.15,0
16,0,0,0,0,52,1,0,2,1,1,1,1,1,1,1,0,3,20.65,1022.95,0
17,1,0,0,1,71,1,2,1,2,0,2,0,2,2,2,0,0,106.70,7382.25,0
18,0,0,1,1,10,1,0,0,0,0,2,2,0,0,0,0,1,55.20,528.35,1
19,0,0,0,0,21,1,0,1,0,2,2,0,0,2,0,1,2,90.05,1862.90,0

In [17]:
#Seperating features and target variable
X = df.drop('Churn', axis=1)
y = df['Churn']

In [18]:
print(X.shape)

(7043, 19)

In [19]:
#  the columns to be scaled

col_to_scale =['tenure','MonthlyCharges','TotalCharges']
df_numeric  = df[col_to_scale]

In [20]:
#Applying Normalization scaling
#Importing Normalizer from sklearn.preprocessing
from sklearn.preprocessing import Normalizer

#Creating an instance of Normalizer
normalizer = Normalizer()
#Fitting and transforming the numeric DataFrame
df_normalized = pd.DataFrame(normalizer.fit_transform(df_numeric), columns=col_to_scale)
#Displaying the first 10 rows of the normalized DataFrame
print("Normalized DataFrame:", df_normalized.head())

Normalized DataFrame:      tenure  MonthlyCharges  TotalCharges
0  0.023682        0.706908      0.706908
1  0.017983        0.030122      0.999384
2  0.016552        0.445662      0.895048
3  0.024433        0.022967      0.999438
4  0.011952        0.422512      0.906279

In [21]:
# Import necessary libraries for model training and evaluation
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Train-Test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.3,
    random_state=42,
    stratify=y
)

# Decision Tree model
dt_model = DecisionTreeClassifier(
    max_depth=5,
    random_state=42
)

# Train the model
dt_model.fit(X_train, y_train)

# Predictions
y_pred = dt_model.predict(X_test)

# Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7865593942262187
Confusion Matrix:
 [[1331  221]
 [ 230  331]]
Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.86      0.86      1552
           1       0.60      0.59      0.59       561

    accuracy                           0.79      2113
   macro avg       0.73      0.72      0.72      2113
weighted avg       0.79      0.79      0.79      2113